@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";

* { 
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: rgb(47, 49, 58);
    font-family: 'Roboto', sans-serif;
}
header {
    padding: 30px 20px;
    border-bottom: 1px solid #333;
    background: rgba(0, 0, 0, 0.1);
}
.links {
    text-align: center;
}
.links a {
    margin: 0 30px;
    color: white;

    text-decoration: none;

    transition: color 200ms;
}

.links a:hover {
    color: #7027c3;
}
